<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the Store</title>
    </head>
    <body>
        <h2><label for="item">What do you want to purchase?</label></h2>
        <br>
        <form method="POST" action="/checkout">
        <input type="text" id="item" name="item">
        <button type="submit" value="submit">Submit</button>
        </form>
    </body>
</html>
